

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


* {
    margin: 0;

}
img{
    width: 450px;
    border-radius: 50%;
    border: 3px solid blue;
    filter: drop-shadow(3px 3px 20px blue)
}
.education-section , .work-experience{

    background-color: grey;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;

}
.work-experience{
    margin-top: 10px;
}
.header {
    text-align: center;
}
.name{
    font-family:Merienda ;
}
